<!DOCTYPE html>
<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>K0K4L4RU TH3U</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet"> 
    </head>

    <body style="background: rgb(233, 254, 255);height: 100%;">
        <div style="display: flex; height: 50%; display: flex; justify-content: center; align-items: center;">
            <h1 id="name-content" style="font-family: 'Titillium Web', sans-serif;font-size: 34px;text-align: center"></h1>
        </div>
        <div style="display: flex; justify-content: center; align-items: center">
            <button class="btn btn-primary" style="align-self: center" type="submit" onclick="requestName(event)">Genereaza</button>
        </div>

        <script>
            let requestName = (e) => {
                e.preventDefault();
                fetch('/get_name')
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector('#name-content').innerText = data['first_name'] + ' ' + data['middle_name'] + ' ' + data['third_name'];
                    })
            }
        </script>
    </body>
</html>